/* =============================================================================
  x2cmsCSSstyle.css
============================================================================= */
.footer_address {
  font-family: Oxygen;
  color: #DDDDDD;
  font-size: 0.75em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a {
  &.footer_address, &:link.footer_address {
    font-family: Oxygen;
    color: #DDDDDD;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.footer_address a {
  font-family: Oxygen;
  color: #DDDDDD;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Oxygen;
    color: #DDDDDD;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.footer_address, .footer_address a:visited {
  font-family: Oxygen;
  color: #DDDDDD;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

a:hover.footer_address, .footer_address a:hover {
  font-family: Oxygen;
  color: #EBE522;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a:active.footer_address, .footer_address a:active {
  font-family: Oxygen;
  color: #DDDDDD;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

.thomaslink {
  font-family: Oxygen;
  color: #DDDDDD;
  font-size: 0.6875em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a {
  &.thomaslink, &:link.thomaslink {
    font-family: Oxygen;
    color: #DDDDDD;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

.thomaslink a {
  font-family: Oxygen;
  color: #DDDDDD;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  &:link {
    font-family: Oxygen;
    color: #DDDDDD;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
  }
}

a:visited.thomaslink, .thomaslink a:visited {
  font-family: Oxygen;
  color: #DDDDDD;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

a:hover.thomaslink, .thomaslink a:hover {
  font-family: Oxygen;
  color: #EBE522;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a:active.thomaslink, .thomaslink a:active {
  font-family: Oxygen;
  color: #DDDDDD;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}




/* =============================================================================
  html5-style.css
============================================================================= */
body {
  margin: 0;
  background: #035a9a;
  font-size: 100%;
  /* default FONT size - 100% = 16px*/
  padding: 0;
  font-family: Oxygen;
}

article, aside, footer, header, nav, section, main {
  display: block;
}

img {
  border: 0;
  max-width: 100%;
}

address {
  font-style: normal;
  /* To Neutralize Default Italic Style To Normal Style */
}

form {
  margin: 0;
  padding: 0;
}

ul li {
  background: url(img/bullet.jpg) no-repeat left 0.46667em;
  /* BASE FONT = 15px  >>> 7px / 15px = 0.4666666666666667em */
  list-style: none;
  padding: 0 0 0 0.8666666666666667em;
  /* BASE FONT = 15px  >>> 13px / 15px = 0.8666666666666667em */
}

hr {
  border-bottom: solid 1px #DADDDE;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 0 0 0.6666666666666667em 0;
  /* Base Font = 15px >>> 10px / 15px = 0.6666666666666667em */
  clear: both;
}

/* =============================================================================
   Bellow default style
* ============================================================================= */

a {
  color: #035a9a;
  text-decoration: underline;
  &:hover {
    color: #035a9a;
    text-decoration: none;
  }
}

p {
  margin: 0;
  padding-bottom: 1.618em;
  line-height: 1.618em;
}

/* =============================================================================
  Comman Style
   ============================================================================= */

.clear {
  clear: both;
}

.clearfix {
  &:before {
    content: "";
    display: block;
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.ctr {
  text-align: center;
}

.fltleft {
  float: left;
}

/* =============================================================================
   Header Area Style
 * ============================================================================= */

header {
  text-align: center;
}

.header_outer {
  background: url(img/mobile_header_outer_bg.jpg) repeat-x left bottom #0068b4;
  padding-bottom: 2.625em;
  &.home_header_outer {
    background-image: none;
    background-color: #0068b4;
    padding-bottom: 0;
  }
}

.company_logo {
  display: inline-block;
  margin-left: 0.125em;
  /* BASE FONT = 16px  >>> 2px / 16px = 0.125em */
  margin-top: 1.3125em;
  /* BASE FONT = 16px  >>> 21px / 16px = 1.3125em*/
  max-width: 28.25em;
  /* BASE FONT = 16px  >>> 452px / 16px = 28.25em */
  width: 99.6%;
  /* width 99.6% of parent container */
}

.tagline {
  color: #e9e421;
  display: block;
  font-size: 1.625em;
  line-height: 1.38461538461538em;
  padding-top: 0.384615384615385em;
  //text-transform: uppercase;
}

/* =============================================================================
   Utility Nav Style
 * ============================================================================= */
.cms_menu_1 {
  margin-bottom: 0;
}
.utility_nav {
  display: inline-block;
  padding-top: 1.625em;
  /* BASE FONT = 16px  >>> 26px / 16px = 1.625em */
  span {
    color: #e9e421;
    display: inline-block;
    font-size: 1.875em;
    /* BASE FONT = 16px  >>> 30px / 16px = 1.875em */
    font-weight: bold;
    padding-left: 0.266666666666667em;
    /* BASE FONT = 30px  >>> 8px / 30px = 0.266666666666667em */
    padding-right: 0.6em;
    /* BASE FONT = 30px  >>> 18px / 30px = 0.6em */
    vertical-align: middle;
  }
  img {
    margin-top: 0.166666666666667em;
    /* BASE FONT = 30px  >>> 5px / 30px = 0.166666666666667em */
    vertical-align: middle;
  }
}

/* =============================================================================
   Topnav  Style
 * ============================================================================= */

#topnav {
  background: -moz-linear-gradient(top, #035fa2 0%, #025592 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #035fa2), color-stop(100%, #025592));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #035fa2 0%, #025592 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #035fa2 0%, #025592 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #035fa2 0%, #025592 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #035fa2 0%, #025592 100%);
  /* W3C */
  -pie-background: -moz-linear-gradient(top, #035fa2 0%, #025592 100%);
  /* FF3.6+ */
  text-align: left;
  position: relative;
  behavior: url(/pie/PIE.htc);
}

.top_nav_trigger {
  background: url(img/menu_bg.jpg) no-repeat left 0.35294em;
  /* BASE FONT = 17px  >>> 6px / 17px = 0.352941176470588em */
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.0625em;
  /* BASE FONT = 16px  >>> 17px / 16px = 1.0625em */
  margin-left: 0.411764705882353em;
  /* BASE FONT = 17px  >>> 7px / 17px = 0.411764705882353em */
  padding: 0.294117647058824em 0.294117647058824em 0.294117647058824em 2.52941176470588em;
  /* BASE FONT = 17px  >>> 5px 5px 5px 43px / 17px = 0.294117647058824em 0.294117647058824em 0.294117647058824em 2.52941176470588em  */
}

.top_nav_links {
  ul {
    background: -moz-linear-gradient(top, #0074ca 0%, #025593 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0074ca), color-stop(100%, #025593));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0074ca 0%, #025593 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0074ca 0%, #025593 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0074ca 0%, #025593 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0074ca 0%, #025593 100%);
    /* W3C */
    padding-bottom: 0.625em;
    /* BASE FONT = 16px  >>> 10px / 16px = 0.625em */
    padding-top: 0.3125em;
    /* BASE FONT = 16px  >>> 5px / 16px = 0.3125em */
    -pie-background: linear-gradient(top, #0074ca 0%, #025593 100%);
    /* FF3.6+ */
    position: relative;
    behavior: url(/pie/PIE.htc);
    li {
      border-top: 1px dotted #000000;
      padding-left: 0;
      background: none;
    }
  }
  li {
    &:first-child {
      border: none;
    }
    &:hover > a {
      color: #ebe522;
    }
  }
  display: none;
  a {
    color: #ffffff;
    display: inline-block;
    font-size: 0.75em;
    /* BASE FONT = 16px  >>> 12px / 16px = 0.75em */
    line-height: 1.83333333333333em;
    /* BASE FONT = 12px  >>> 22px / 12px = 1.83333333333333em */
    padding: 0.0833333333333333em 0 0.166666666666667em 0.833333333333333em;
    /* BASE FONT = 12px  >>> 1px 0px 2px 10px / 12px = 0.0833333333333333em 0em 0.166666666666667em 0.833333333333333em  */
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: #ebe522;
    }
  }
  li ul {
    background: none;
    display: none;
    padding-bottom: 0;
    padding-top: 0;
    li {
      &:first-child {
        border-top: 1px dotted #000000;
      }
      a {
        display: block;
        text-decoration: none;
        text-transform: none;
        &:hover {
          color: #ebe522;
        }
      }
    }
  }
}

.submenu_open > a {
  color: #ebe522;
}

li {
  .submenu-trigger {
    background: url(img/topnav_menu_arrow.png) no-repeat left top;
    display: inline-block;
    height: 0.75em;
    /* BASE FONT = 16px  >>> 12px / 16px = 0.75em */
    margin-left: 0.1875em;
    /* BASE FONT = 16px  >>> 3px / 16px = 0.1875em */
    margin-top: 0.625em;
    /* BASE FONT = 16px  >>> 10px / 16px = 0.625em */
    vertical-align: top;
    width: 0.4375em;
    /* BASE FONT = 16px  >>> 7px / 16px = 0.4375em */
    cursor: pointer;
  }
  &.submenu_open .submenu-trigger {
    background: url(img/topnav_menu_arrow_open.png) no-repeat left top;
    display: inline-block;
    height: 0.75em;
    /* BASE FONT = 16px  >>> 12px / 16px = 0.75em */
    margin-left: 0.1875em;
    /* BASE FONT = 16px  >>> 3px / 16px = 0.1875em */
    margin-top: 0.625em;
    /* BASE FONT = 16px  >>> 10px / 16px = 0.625em */
    vertical-align: top;
    width: 0.4375em;
    /* BASE FONT = 16px  >>> 7px / 16px = 0.4375em */
    cursor: pointer;
  }
}

#topnav li.has_child span {
  width: 75%;
  /* 75% of parent container */
}

/* =============================================================================
    Search Eng Styles
   ============================================================================= */

.search_trigger {
  cursor: pointer;
  display: inline-block;
  height: 1.125em;
  /* BASE FONT = 16px  >>> 18px / 16px = 1.125em */
  vertical-align: middle;
  width: 1.375em;
  /* BASE FONT = 16px  >>> 22px / 16px = 1.375em */
  background: url(img/search_tigger.jpg) no-repeat left top;
  &:hover {
    background: url(img/search_tigger_hover.jpg) no-repeat left top;
  }
}

#search_eng {
  margin: 0.625em auto 0.625em auto;
  /* BASE FONT = 16px  >>> 10px / 16px = 0.625em */
  max-width: 10.625em;
  /* BASE FONT = 16px  >>> 170px / 16px = 10.625em */
  text-align: center;
  display: none;
}

.search_btn {
  border: none;
  display: inline-block;
}

.search_box {
  background: #ffffff;
  border: 1px solid #696969;
  color: #0068b4;
  display: inline-block;
  font-family: oxygen;
  font-size: 0.75em;
  /* BASE FONT = 16px  >>> 12px / 16px = 0.75em */
  height: 1.91666666666667em;
  /* BASE FONT = 12px  >>> 23px / 12px = 1.91666666666667em */
  margin: 0;
  outline: none;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 11.6666666666667em;
  /* BASE FONT = 12px  >>> 140px / 12px = 11.6666666666667em */
  border-radius: 5px;
  position: relative;
  behavior: url(/pie/PIE.htc);
}

.buy_online_btn {
  display: block;
  a {
    background: #030708;
    border-radius: 5px 5px 0 0;
    color: #eae71e;
    display: inline-block;
    font-size: 1.125em;
    font-weight: bold;
    margin-top: 1em;
    max-width: 9.66666666666667em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    text-align: center;
    behavior: url(/pie/PIE.htc);
    &:hover {
      background: #025694;
    }
  }
}

main {
  background-color: #ffffff;
}

/* =============================================================================
   Content Area style
* ============================================================================= */

#content_area {
  font-size: 0.9375em;
  /* BASE FONT = 16px  >>> 15px / 16px = 0.9375em */
  color: #3e3c3d;
  line-height: 1.33333333333333em;
  /* BASE FONT = 15px  >>> 20px / 15px = 1.33333333333333em  */
  padding: 1.46666666666667em 1.33333333333333em 1.33333333333333em 1.33333333333333em;
  /* BASE FONT = 15px  >>> 22px 20px 20px 20px / 15px = 1.46666666666667em 1.33333333333333em 1.33333333333333em 1.33333333333333em  */
}

#home_content_area {
  padding-bottom: 2.8125em;
  /* BASE FONT = 16px  >>> 45px / 16px = 2.8125em */
}

/* =============================================================================
    Footer Area Start
*  ============================================================================= */

footer {
  background: #035a9a;
  text-align: center;
  address {
    line-height: 1.33333333333333em;
    /* BASE FONT = 12px  >>> 16px / 12px = 1.33333333333333em */
    margin-top: 1.58333333333333em;
    /* BASE FONT = 12px  >>> 19px / 12px = 1.58333333333333em */
  }
}

address.footer_address strong {
  display: block;
  font-size: 1.33333333333333em;
  /* BASE FONT = 12px  >>> 16px / 12px = 1.33333333333333em */
  padding-bottom: 0.5625em;
  /* BASE FONT = 16px  >>> 9px / 16px = 0.5625em */
}

.footer_right {
  line-height: 2.25em;
  /* BASE FONT = 12px  >>> 27px / 12px = 2.25em */
  padding-top: 3.58333333333333em;
  /* BASE FONT = 12px  >>> 43px / 12px = 3.58333333333333em */
  &.footer_address > a {
    margin-left: 0.75em;
    /* BASE FONT = 12px  >>> 9px / 12px = 0.75em */
    margin-right: 0.75em;
    /* BASE FONT = 12px  >>> 9px / 12px = 0.75em */
  }
}

.website {
  color: #ebe522;
  display: block;
  font-size: 1.83333333333333em;
  /* BASE FONT = 12px  >>> 22px / 12px = 1.83333333333333em */
  font-weight: bold;
}

.thomaslink {
  line-height: 1.63636363636364em;
  /* BASE FONT = 11px  >>> 18px / 11px = 1.63636363636364em */
  margin: 0 auto;
  padding-bottom: 1.90909090909091em;
  /* BASE FONT = 11px  >>> 21px / 11px = 1.90909090909091em */
  padding-top: 5em;
  /* BASE FONT = 11px  >>> 55px / 11px = 5em */
  text-align: center;
  width: 86%;
  /* 86% of parent container */
}

.navigator_platform_link {
  display: block;
}

img[name="pphLoggerImage"] {
  display: none;
}

/* =============================================================================
    Heading Styles
*  ============================================================================= */

h1 {
  margin: 0;
  padding: 0 0 0.5714285714285714em 0;
  /* BASE FONT = 20px  >>> 0px 0px 8px 0px / 20px = 0em 0em 0.5714285714285714em 0em  */
  font-size: 1.33333333333333em;
  /* BASE FONT = 15px  >>> 20px / 15px = 1.33333333333333em  */
  color: #3e3d3d;
  line-height: 1.25em;
  /* BASE FONT = 20px  >>> 25px / 20px = 1.25em */
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

#home_content_area h1 {
  color: #ffffff;
  font-size: 1.25em;
  /* BASE FONT = 16px  >>> 20px / 16px = 1.25em */
  font-weight: bold;
  line-height: 1.3em;
  /* BASE FONT = 20px  >>> 26px / 20px = 1.3em */
  padding: 1.65em 0.2em 1.35em 0.2em;
  /* BASE FONT = 20px  >>> 33px 4px 27px 4px / 20px = 1.65em 0.2em 1.35em 0.2em */
}

h2 {
  padding: 0 0 0.666666666666667em 0;
  /* BASE FONT = 18px  >>> 0px 0px 12px 0px / 18px = 0em 0em 0.666666666666667em 0em */
  margin: 0;
  font-size: 1.2em;
  /* BASE FONT = 15px  >>> 18px / 15px = 1.2em */
  color: #0068b4;
  line-height: 0.9565217391304348em;
  /* BASE FONT = 23px  >>> 22px / 23px = 0.9565217391304348em  */
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

h3 {
  padding: 0 0 0.8571428571428571em 0;
  /* BASE FONT = 16px  >>> 0px 0px 12px 0px / 16px = 0em 0em 0.8571428571428571em 0em  */
  margin: 0;
  font-size: 1.06666666666667em;
  /* BASE FONT = 15px  >>> 16px / 15px = 1.06666666666667em */
  color: #0068b4;
  line-height: 1.25em;
  /* BASE FONT = 16px  >>> 20px / 16px = 1.25em */
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}

/* =============================================================================
   Print Page Styles
   ============================================================================= */

.printable_page {
  display: none;
}

/* =============================================================================
   Bucket Style
*  ============================================================================= */

.bucket_outer {
  background: -moz-linear-gradient(top, #434343 0%, #161616 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #434343), color-stop(100%, #161616));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #434343 0%, #161616 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #434343 0%, #161616 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #434343 0%, #161616 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #434343 0%, #161616 100%);
  /* W3C */
  -pie-background: linear-gradient(top, #434343 0%, #161616 100%);
  /* FF3.6+ */
  position: relative;
  behavior: url(/pie/PIE.htc);
  padding-bottom: 0.125em;
  /* BASE FONT = 16px  >>> 2px / 16px = 0.125em */
}

.bucket_links {
  > article {
    display: block;
    margin: 0 auto 0.5625em auto;
    /* BASE FONT = 16px  >>> 9px / 16px = 0.5625em */
    max-width: 19.5em;
    /* BASE FONT = 16px  >>> 312px / 16px = 19.5em */
    text-align: center;
    width: 100%;
  }
  a {
    background: #ffffff;
    border-radius: 2px 2px 0 0;
    color: #035ea1;
    display: block;
    font-size: 0.875em;
    /* BASE FONT = 16px  >>> 14px / 16px = 0.875em */
    padding-top: 0.142857142857143em;
    /* BASE FONT = 14px  >>> 2px / 14px = 0.142857142857143em */
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    behavior: url(/pie/PIE.htc);
    padding-left: 0.1428571428571429em;
    /* BASE FONT = 14px  >>> 2px / 14px = 0.142857142857143em */
    padding-right: 0.1428571428571429em;
    /* BASE FONT = 14px  >>> 2px / 14px = 0.142857142857143em */
    &:hover {
      background: #025a9a;
      color: #eae71e;
      span {
        background: #025a9a;
        color: #eae71e;
      }
    }
  }
  span {
    display: block;
    font-weight: bold;
    line-height: 1.28571428571429em;
    /* BASE FONT = 14px  >>> 18px / 14px = 1.28571428571429em */
    padding-bottom: 0.5em;
    /* BASE FONT = 14px  >>> 7px / 14px = 0.5em */
    padding-top: 0.142857142857143em;
    /* BASE FONT = 14px  >>> 2px / 14px = 0.142857142857143em */
    span {
      color: #b52f1e;
      font-weight: normal;
      padding: 0;
    }
  }
}

/* Slider Style */

#slider-1-wrapper {
  display: none;
}

.bucket_link_002 {
  margin-top: 2.625em;
  /* BASE FONT = 16px  >>> 42px / 16px = 2.625em */
  ul {
    background: #282727;
    padding-top: 1.5em;
    /* BASE FONT = 16px  >>> 24px / 16px = 1.5em */
  }
  li {
    background: none;
    color: #ffffff;
    font-size: 0.9375em;
    /* BASE FONT = 16px  >>> 15px / 16px = 0.9375em */
    font-weight: bold;
    padding-left: 0.666666666666667em;
    /* BASE FONT = 15px  >>> 10px / 15px = 0.666666666666667em */
    padding-bottom: 1.2em;
    /* BASE FONT = 15px  >>> 18px / 15px = 1.2em */
    cursor: pointer;
    ul {
      display: none;
      padding-top: 0.333333333333333em;
      /* BASE FONT = 15px  >>> 5px / 15px = 0.333333333333333em */
      padding-bottom: 0;
      li {
        background: url(img/bucket_link_002_bullet.jpg) no-repeat 0.93333em 0.53333em;
        /* BASE FONT = 15px  >>> 14px / 15px = 0.933333333333333em 0.5333333333333333em  */
        padding-bottom: 0.333333333333333em;
        /* BASE FONT = 15px  >>> 5px / 15px = 0.333333333333333em */
        padding-left: 1.6em;
        /* BASE FONT = 15px  >>> 24px / 15px = 1.6em */
        font-size: 1em;
        /* BASE FONT = 15px  >>> 15px / 14px = 1em */
        a {
          text-decoration: none;
          color: #ebe522;
          font-size: 0.933333333333333em;
          /* BASE FONT = 15px  >>> 14px / 15px = 0.933333333333333em */
        }
      }
    }
  }
  img {
    display: none;
  }
}

.price {
  display: none;
}

li {
  .bucket_submenu_trigger {
    background: url(img/plus.jpg) no-repeat left 0.26667em;
    /* BASE FONT = 15px  >>> 4px / 15px = 0.266666666666667em */
    display: inline-block;
    height: 1.2em;
    /* BASE FONT = 15px  >>> 18px / 15px = 1.2em */
    vertical-align: top;
    width: 0.8em;
    /* BASE FONT = 15px  >>> 12px / 15px = 0.8em */
    margin-left: 1.4em;
    /* BASE FONT = 15px  >>> 21px / 15px = 1.4em */
    cursor: pointer;
  }
  &.bucket_submenu_open .bucket_submenu_trigger {
    background: url(img/minus.jpg) no-repeat left 0.6em;
    /* BASE FONT = 15px  >>> 9px / 15px = 0.6em */
    display: inline-block;
    height: 0.866666666666667em;
    /* BASE FONT = 15px  >>> 13px / 15px = 0.866666666666667em */
    vertical-align: top;
    width: 0.8em;
    /* BASE FONT = 15px  >>> 12px / 15px = 0.8em */
    margin-left: 1.4em;
    /* BASE FONT = 15px  >>> 21px / 15px = 1.4em */
    cursor: pointer;
  }
}

.slider_heading4 .bucket_submenu_trigger {
  background-position: left top;
}

.slider_heading2 .bucket_submenu_trigger, .slider_heading3 .bucket_submenu_trigger {
  background-position: left 0.4em;
  /* BASE FONT = 15px  >>> 6px / 15px = 0.4em */
  margin-left: 0.6em;
  /* BASE FONT = 15px  >>> 9px / 15px = 0.6em */
}

.slider_heading2.bucket_submenu_open span.bucket_submenu_trigger, .slider_heading3.bucket_submenu_open span.bucket_submenu_trigger {
  background-position: left 0.733333333333333em;
  /* BASE FONT = 15px  >>> 11px / 15px = 0.733333333333333em */
  height: 1.2em;
  /* BASE FONT = 15px  >>> 18px / 15px = 1.2em */
  margin-left: 0.8em;
  /* BASE FONT = 15px  >>> 12px / 15px = 0.8em  */
}

.slider_heading4.bucket_submenu_open span.bucket_submenu_trigger {
  background-position: 0.6em 0.3333333333333333em;
  /* BASE FONT = 15px  >>> 9px 5px / 15px = 0.6em 0.3333333333333333em */
  width: 1.2em;
  /* BASE FONT = 15px  >>> 18px / 15px = 1.2em */
  margin-left: 0.8em;
  /* BASE FONT = 15px  >>> 12px / 15px = 0.8em  */
}

/* =============================================================================
        INNER PAGE STYLE
*  ============================================================================= */

.back_to_top {
  font-size: 0.733333333333333em;
  /* BASE FONT = 15px  >>> 11px / 15px = 0.733333333333333em */
  text-align: right;
}

/* ========= Input Button Styles ========= */

.input_btn {
  display: inline-block;
  padding: 0.833333333333333em 1.66666666666667em 0.833333333333333em 1.66666666666667em;
  /* BASE FONT = 12px  >>> 10px 20px 10px 20px / 12px = 0.833333333333333em 1.66666666666667em 0.833333333333333em 1.66666666666667em  */
  border: 0;
  font-size: 0.857142857142857em;
  /* BASE FONT = 14px  >>> 12px / 14px = 0.857142857142857em  */
  line-height: 1em;
  /* BASE FONT = 12px  >>> 12px / 12px = 1em  */
  color: #ffffff;
  text-decoration: none;
  background: #3e3d3d;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Oxygen;
  border-radius: 5px;
  position: relative;
  behavior: url(/pie/PIE.htc);
  &:hover {
    text-decoration: underline;
  }
}

/* ----------------------   Contact Us page Styles   ------------------------ */

.contact_add_right, .contact_add_left {
  text-align: center;
  margin-bottom: 0.666666666666667em;
  /* BASE FONT = 15px  >>> 10px / 15px = 0.666666666666667em */
}

#gmap {
  text-align: center;
  clear: both;
  padding-top: 1.66666666666667em;
  /* BASE FONT = 15px  >>> 25px / 15px = 1.66666666666667em */
  iframe {
    border: 1px solid #abafab;
    max-width: 100%;
    /* 100% of content area*/
  }
}

.rfq_btn {
  text-align: center;
}

/*------------------------ Sitemap Styles ---------------------------------- */

ul.sitemap {
  li {
    background-image: none;
    padding: 0.333333333333333em 0 0.333333333333333em 0;
    /* BASE FONT = 15px  >>> 5px 0px 5px 0px / 15px = 0.333333333333333em 0em 0.333333333333333em 0em  */
  }
  ul {
    padding: 0 0 0 1em;
    /* BASE FONT = 15px  >>> 0px 0px 15px 0px / 15px = 0em 0em 1em 0em  */
  }
}

/* =============================================================================
        MEDIUM SCREEN STYLES [Small Phone(Landscap)/Tablet(Potrait)] START
*  ============================================================================= */
/******** 319px/16px = 19.9375em */

@media only screen and (max-width: 19.9375em) {
  #topnav li.has_child span {
    width: 57%;
    /* 57% of parent container */
  }
  .bucket_links a {
    margin-left: 0.3571428571428571em;
    /* BASE FONT = 14px  >>> 5px / 14px =  0.3571428571428571em */
    margin-right: 0.3571428571428571em;
    /* BASE FONT = 14px  >>> 5px / 14px =  0.3571428571428571em */
  }
}

/* =============================================================================
        MEDIUM SCREEN STYLES [Smart Phone(Landscap)/Tablet(Potrait)] START
*  ============================================================================= */
/******** 480px/16px = 30em*/

@media only screen and (min-width: 30em) {
  /* ========= Header Styles ========= */
  .header_outer {
    text-align: left;
  }
  .company_logo {
    display: inline-block;
    margin-left: 0.5625em;
    /* BASE FONT = 16px  >>> 9px / 16px = 0.5625em */
    margin-right: 0.375em;
    /* BASE FONT = 16px  >>> 6px / 16px = 0.375em */
    margin-top: 1.5625em;
    /* BASE FONT = 16px  >>> 25px / 16px = 1.5625em */
    max-width: 28.25em;
    /* BASE FONT = 16px  >>> 452px / 16px = 28.25em */
    vertical-align: top;
    width: 62%;
    /* 62% of parent container */
  }
  .tagline {
    display: inline-block;
    font-size: 1.375em;
    line-height: 1.5em;
    padding-top: 3%;
    vertical-align: top;
    width: 33%;
  }
  /* ========= Utility Nav Styles ========= */
  .utility_nav {
    padding-left: 1.125em;
    /* BASE FONT = 16px  >>> 18px / 16px = 1.125em */
    padding-top: 2em;
    /* BASE FONT = 16px  >>> 32px / 16px = 2em */
  }
  /* ========= Search Styles ========= */
  .search_container {
    float: right;
    margin-top: 0.75em;
    /* BASE FONT = 16px  >>> 12px / 16px = 0.75em */
  }
  .search_trigger {
    display: none;
  }
  #search_eng {
    display: block;
    margin-right: 0.75em;
    /* BASE FONT = 16px  >>> 12px / 16px = 0.75em */
  }
  .buy_online_btn {
    margin-right: 0.5625em;
    /* BASE FONT = 16px  >>> 9px / 16px = 0.5625em */
    text-align: center;
    a {
      margin-top: 0;
    }
  }
  #home_content_area {
    padding-bottom: 2.75em;
    /* BASE FONT = 16px  >>> 44px / 16px = 2.75em */
  }
  /* ========= Footer Styles ========= */
  footer address {
    float: left;
    margin-left: 1.16666666666667em;
    /* BASE FONT = 12px  >>> 14px / 12px = 1.16666666666667em */
    margin-top: 1.58333333333333em;
    /* BASE FONT = 12px  >>> 19px / 12px = 1.58333333333333em */
    text-align: left;
  }
  .footer_right {
    float: right;
    line-height: 2.25em;
    /* BASE FONT = 12px  >>> 27px / 12px = 2.25em */
    padding-right: 0.333333333333333em;
    /* BASE FONT = 12px  >>> 4px / 12px = 0.333333333333333em */
    padding-top: 1em;
    /* BASE FONT = 12px  >>> 12px / 12px = 1em */
    &.footer_address > a {
      margin-left: 0.8333333333333333em;
      /* BASE FONT = 12px  >>> 10px / 12px = 0.8333333333333333em */
      margin-right: 0.8333333333333333em;
      /* BASE FONT = 12px  >>> 10px / 12px = 0.8333333333333333em */
    }
  }
  /* ========= Thomas Info Styles ========= */
  .thomaslink {
    clear: both;
    line-height: 1.63636363636364em;
    /* BASE FONT = 11px  >>> 18px / 11px = 1.63636363636364em */
    padding-bottom: 1.45454545454545em;
    /* BASE FONT = 11px  >>> 16px / 11px = 1.45454545454545em */
    padding-top: 6.27272727272727em;
    /* BASE FONT = 11px  >>> 69px / 11px = 6.27272727272727em */
    width: 58%;
    /* 58% of parent container */
  }
  .copyright_txt {
    display: block;
  }
  .navigator_platform_link {
    display: inline-block;
  }
  /* ========= Heading Styles ========= */
  h1, h2, h3 {
    text-align: left;
  }
  #home_content_area h1 {
    font-size: 1.375em;
    line-height: 1.27272727272727em;
    padding: 1.04545454545455em 1.77272727272727em 1.22727272727273em 1.77272727272727em;
    text-align: center;
  }
  .bucket_links {
    article {
      display: inline-block;
      margin: 0 0.0625em 1.0625em 0.0625em;
    }
    text-align: center;
  }
  .bucket_outer {
    padding-bottom: 1.3125em;
  }
  /* ========= Slider Styles ========= */
  #slider-1-wrapper {
    display: block;
    margin: 2.8125em auto 0 auto;
    max-width: 24.9375em;
    right: 0;
    text-align: center;
    width: 100%;
    border: 1px solid #035a9a;
  }
  .bx-controls.bx-has-pager.bx-has-controls-direction {
    display: none;
  }
  .bxslider {
    span {
      background: url(img/slide_heading_bg.png) left top;
      color: #ebe522;
      display: block;
      font-size: 1.375em;
      left: 0;
      padding-bottom: 0.5909090909090909em;
      padding-top: 0.727272727272727em;
      position: absolute;
      right: 0;
      text-transform: uppercase;
      z-index: 100;
      font-weight: bold;
      line-height: 1.045454545454545em;
    }
    img {
      display: block;
    }
  }
  #slider-1-wrapper .bxslider span span {
    color: #ffffff;
    font-size: 0.727272727272727em;
    font-weight: normal;
    padding: 0.1875em 0 0 0;
    line-height: 1em;
    background: none;
  }
  .bxslider > div:first-child > span {
    line-height: 1.04545454545455em;
    padding-bottom: 1.18181818181818em;
    padding-top: 0.409090909090909em;
  }
  .bucket_submenu_trigger {
    display: none !important;
  }
  #slide1 {
    display: block;
  }
  .bucket_link_002 {
    ul {
      padding-bottom: 0;
      padding-top: 0;
      margin-bottom: 0;
      position: relative;
    }
    margin-left: auto;
    margin-top: 1.5625em;
    max-width: 33.0625em;
    margin-right: auto;
    width: 98%;
    li {
      background: #0068b4;
      border-top: 1px solid #0a5892;
      color: #ffffff;
      display: block;
      font-size: 0.875em;
      font-weight: bold;
      line-height: 1.28571428571429em;
      padding-left: 0;
      text-align: center;
      vertical-align: middle;
      max-width: 10.2142857142857em;
      cursor: pointer;
      &:hover {
        background: #025694;
        color: #eae71e;
      }
      ul {
        left: 10.2142857142857em;
        position: absolute;
        top: 0;
        li {
          background: none;
          border: none;
          padding-bottom: 0.285714285714286em;
          padding-left: 0;
          text-align: left;
          max-width: 27.5em;
          a {
            font-size: 0.9285714285714286em;
          }
          &:hover {
            background: #282727;
          }
        }
      }
    }
  }
  .slider_heading1.active, .slider_heading2.active, .slider_heading3.active, .slider_heading4.active {
    background: #282727;
    color: #eae71e;
  }
  .slider_heading1:hover .slider_heading2:hover, .slider_heading3:hover, .slider_heading4:hover {
    color: #eae71e;
  }
  .bucket_link_002 li ul li a:hover {
    span.slider_link {
      color: #eae71e;
    }
    img {
      color: #eae71e;
      border: 1px solid #eae71e;
    }
  }
  .slider_heading1 {
    border: none;
  }
  .bucket_link_002 img {
    border: 1px solid #ffffff;
    margin: 0.230769230769231em 0.846153846153846em 0 1.38461538461538em;
    /* BASE FONT = 13px  >>> 3px 11px 0px 18px / 13px = 0.230769230769231em 0.846153846153846em 0em 1.38461538461538em  */
    max-width: 8.14285714285714em;
    /* BASE FONT = 14px  >>> 114px / 14px = 8.14285714285714em */
  }
  .slider_heading4 br {
    display: none;
  }
  .best_in_transit_txt {
    display: block;
  }
  .bucket_link_002 img, .price {
    display: inline-block;
    vertical-align: middle;
  }
  .slider_link {
    color: #ffffff;
    display: inline-block;
    font-size: 1em;
    /* BASE FONT = 13px  >>> 13px / 13px = 1em */
    line-height: 1.15384615384615em;
    /* BASE FONT = 13px  >>> 15px / 13px = 1.15384615384615em */
    margin-right: 0.769230769230769em;
    /* BASE FONT = 13px  >>> 10px / 13px = 0.769230769230769em */
    text-align: center;
    vertical-align: middle;
    width: 29%;
    /* 29% of parent container */
  }
  .price {
    display: inline-block;
    font-size: 0.9230769230769231em;
    /* BASE FONT = 13px  >>> 12px / 13px = 0.9230769230769231em */
    line-height: 1.25em;
    /* BASE FONT = 12px  >>> 15px / 12px = 1.25em */
    text-align: center;
    vertical-align: middle;
    width: 21%;
    /* 21% of parent container */
  }
  #home_content_area {
    .slider_heading1 {
      padding-bottom: 0.857142857142857em;
      /* BASE FONT = 14px  >>> 12px / 14px = 0.857142857142857em */
      padding-top: 0.857142857142857em;
      /* BASE FONT = 14px  >>> 12px / 14px = 0.857142857142857em */
      border: none;
    }
    .slider_heading2 {
      padding-bottom: 1.71428571428571em;
      /* BASE FONT = 14px  >>> 24px / 14px = 1.71428571428571em */
      padding-top: 1.57142857142857em;
      /* BASE FONT = 14px  >>> 22px / 14px = 1.57142857142857em */
    }
    .slider_heading3 {
      padding-bottom: 0.857142857142857em;
      /* BASE FONT = 14px  >>> 12px / 14px = 0.857142857142857em */
      padding-top: 1em;
      /* BASE FONT = 14px  >>> 14px / 14px = 1em */
    }
    .slider_heading4 {
      line-height: 1.21428571428571em;
      /* BASE FONT = 14px  >>> 17px / 14px = 1.21428571428571em */
      padding-bottom: 0.428571428571429em;
      /* BASE FONT = 14px  >>> 6px / 14px = 0.428571428571429em */
      padding-top: 0.428571428571429em;
      /* BASE FONT = 14px  >>> 6px / 14px = 0.428571428571429em */
    }
  }
  .antislips_txt {
    display: block;
  }
  /* =============================================================================
     Inner Page Styles
     ============================================================================= */
  /* ---------------------   Contact Us page Styles   ----------------------- */
  .contact_add_right, .contact_block section.section_right {
    float: right;
    text-align: right;
    width: 50%;
    /* 50% of content area*/
  }
  .contact_add_left, .contact_block section {
    float: left;
    text-align: left;
    width: 50%;
    /* 50% of content area*/
  }
  .rfq_btn {
    text-align: right;
  }
}

/* =============================================================================
        MEDIUM SCREEN STYLES [TABLET LANDSCAP VIEW] START
*  ============================================================================= */
/******** 640px/16px = 40em*/
@media only screen and (min-width: 40em) {
  /* ========= Header Styles ========= */
  .company_logo {
    margin-left: 1.375em;
    /* BASE FONT = 16px  >>> 22px / 16px = 1.375em */
    margin-right: 0.75em;
    /* BASE FONT = 16px  >>> 12px / 16px = 0.75em */
    width: 100%;
  }
  .tagline {
    font-size: 1.625em;
    /* BASE FONT = 16px  >>> 26px / 16px = 1.625em */
    line-height: 1.23076923076923em;
    /* BASE FONT = 26px  >>> 32px / 26px = 1.23076923076923em */
    padding-top: 1.03846153846154em;
    /* BASE FONT = 26px  >>> 27px / 26px = 1.03846153846154em */
    width: 23%;
    /* 23% of feedbackform*/
  }
  .bucket_link_002 img {
    max-width: 10.07692307692308em;
    /* BASE FONT = 13px  >>> 131px / 13px = 10.07692307692308em */
  }
  /* =============================================================================
     Print Page Styles
     ============================================================================= */
  .printable_page {
    display: block;
    float: right;
    font-size: 0.75em;
    /* BASE FONT = 16px  >>> 12px / 16px = 0.75em */
    padding-bottom: 2.5em;
    /* BASE FONT = 12px  >>> 30px / 12px = 2.5em */
    padding-right: 1.666666666666667em;
    /* BASE FONT = 12px  >>> 20px / 12px = 1.666666666666667em */
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  img {
    &[alt="Print This Page"] {
      cursor: pointer;
      margin: 0 0.75em 0 0;
      /* BASE FONT = 12px  >>> 0px 9px 0px 0px / 12px = 0em 0.75em 0em 0em  */
      vertical-align: middle;
    }
    &[alt="Email This Page"] {
      cursor: pointer;
      margin: 0 0.5em 0 1.25em;
      /* BASE FONT = 12px  >>> 0px 6px 0px 15px / 12px = 0em 0.5em 0em 1.25em  */
      vertical-align: middle;
    }
  }
}

/* =============================================================================
        MEDIUM SCREEN STYLES [TABLET LANDSCAP VIEW] START
*  ============================================================================= */
/******** 801px/16px = 50.0625em*/
@media only screen and (min-width: 50.0625em) {
  /* ========= Header Styles ========= */
  .company_logo {
    float: left;
    margin: 2.125em 1.0625em 1.75em 0.3125em;
    /* BASE FONT = 16px  >>> 34px 17px 28px 5px / 16px = 2.125em 1.0625em 1.75em 0.3125em */
    width: 50%;
    /* 50% of parent container */
  }
  .tagline {
    padding-top: 1.38461538461538em;
    width: 16%;
    float: left;
  }
  .header_right {
    float: right;
    text-align: right;
  }
  .header_outer {
    background: url(img/header_bg.jpg) repeat-x left bottom #0068b4;
    padding-bottom: 2.625em;
    /* BASE FONT = 16px  >>> 42px / 16px = 2.625em */
  }
  /* ========= Utility Nav Styles ========= */
  .utility_nav {
    line-height: 2.25em;
    /* BASE FONT = 16px  >>> 36px / 16px = 2.25em */
    padding-left: 0;
    padding-top: 1.5625em;
    /* BASE FONT = 16px  >>> 25px / 16px = 1.5625em */
    span {
      padding-right: 0.133333333333333em;
      /* BASE FONT = 30px  >>> 4px / 30px = 0.133333333333333em */
    }
  }
  /* ========= Search Container Styles ========= */
  .search_container {
    float: none;
    margin-top: 3.9575em;
    /* BASE FONT = 16px  >>> 63px / 16px = 3.9375em */
    line-height: 1.5em;
    /* BASE FONT = 16px  >>> 24px / 16px = 1.5em */
  }
  .buy_online_btn {
    margin-right: 0.75em;
    text-align: right;
    line-height: 1.5625em;
    a {
      margin-top: 0.166666666666667em;
      text-align: center;
    }
  }
  /* ========= Top Nav Styles ========= */
  .top_nav_trigger, li .submenu-trigger {
    display: none;
  }
  .top_nav_links {
    display: block;
    text-align: center;
    ul {
      padding: 0;
      background: none;
      li {
        display: inline;
        padding-top: 0.3125em;
        /* BASE FONT = 16px  >>> 5px / 16px = 0.3125em */
        padding-right: 1.5%;
        /* 1.5% of parent container */
        padding-bottom: 0.625em;
        /* BASE FONT = 16px  >>> 10px / 16px = 0.625em */
        padding-left: 1.5%;
        /* 1.5% of parent container */
        position: relative;
        border: none;
        &:hover {
          background: -moz-linear-gradient(top, #006dbc 0%, #0175ca 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006dbc), color-stop(100%, #0175ca));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #006dbc 0%, #0175ca 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #006dbc 0%, #0175ca 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #006dbc 0%, #0175ca 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #006dbc 0%, #0175ca 100%);
          /* W3C */
          -pie-background: linear-gradient(top, #006dbc 0%, #0175ca 100%);
          /* FF3.6+ */
          position: relative;
          behavior: url(/pie/PIE.htc);
        }
      }
    }
    a {
      padding: 0.416666666666667em 0 0.5em 0;
      /* BASE FONT = 12px  >>> 5px 0px 6px 0px / 12px = 0.416666666666667em 0em 0.5em 0em */
      font-weight: bold;
    }
    li ul {
      display: none;
      left: 0;
      padding: 0 0 0.1875em 0;
      /* BASE FONT = 16px  >>> 0px 0px 3px 0px / 16px = 0em 0em 0.1875em 0em */
      position: absolute;
      text-align: left;
      top: 2.1875em;
      /* BASE FONT = 16px  >>> 35px / 16px = 2.1875em */
      width: 10.125em;
      /* BASE FONT = 16px  >>> 162px / 16px = 10.125em */
      z-index: 1000;
      border-bottom: 1px solid #025592;
      border-left: 1px solid #025592;
      border-right: 1px solid #025592;
      border-radius: 0 0 3px 3px;
      background: -moz-linear-gradient(top, #0074ca 0%, #025593 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0074ca), color-stop(100%, #025593));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #0074ca 0%, #025593 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #0074ca 0%, #025593 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #0074ca 0%, #025593 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #0074ca 0%, #025593 100%);
      /* W3C */
      li {
        border-top: 1px dotted #000000;
        display: block;
        padding: 0.25em 0.6875em 0.5em 0.6875em;
        /* BASE FONT = 16px  >>> 4px 11px 8px 11px / 16px = 0.25em 0.6875em 0.5em 0.6875em */
        &:hover {
          background: none;
        }
        &:first-child {
          border-top: none;
          padding-top: 0.1875em;
          /* BASE FONT = 16px  >>> 3px / 16px = 0.1875em */
        }
        a {
          font-weight: normal;
          line-height: 1.08333333333333em;
          /* BASE FONT = 12px  >>> 13px / 12px = 1.08333333333333em */
          padding: 0;
        }
      }
    }
  }
  #topnav li.has_child:hover {
    background: url(img/has_child_hover.jpg) repeat-y left top, -moz-linear-gradient(top, #006dbc 0%, #0175ca 100%);
    /* FF3.6+ */
    background: url(img/has_child_hover.jpg) repeat-y left top, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006dbc), color-stop(100%, #0175ca));
    /* Chrome,Safari4+ */
    background: url(img/has_child_hover.jpg) repeat-y left top, -webkit-linear-gradient(top, #006dbc 0%, #0175ca 100%);
    /* Chrome10+,Safari5.1+ */
    background: url(img/has_child_hover.jpg) repeat-y left top, -o-linear-gradient(top, #006dbc 0%, #0175ca 100%);
    /* Opera 11.10+ */
    background: url(img/has_child_hover.jpg) repeat-y left top, -ms-linear-gradient(top, #006dbc 0%, #0175ca 100%);
    /* IE10+ */
    background: url(img/has_child_hover.jpg) repeat-y left top, linear-gradient(to bottom, #006dbc 0%, #0175ca 100%);
    /* W3C */
    -pie-background: url(img/has_child_hover.jpg) repeat-y left top, linear-gradient(top, #006dbc 0%, #0175ca 100%);
    /* FF3.6+ */
    position: relative;
    behavior: url(/pie/PIE.htc);
  }
  /* ========= Content Area Styles ========= */
  #content_area {
    padding-left: 0.466666666666667em;
    /* BASE FONT = 15px  >>> 7px / 15px = 0.466666666666667em */
    padding-top: 1.4em;
    /* BASE FONT = 15px  >>> 21px / 15px = 1.4em */
    min-height: 16.6666666666667em;
    /* BASE FONT = 15px  >>> 250px / 15px = 16.6666666666667em */
  }
  #home_content_area {
    padding-bottom: 2.625em;
    /* BASE FONT = 16px  >>> 42px / 16px = 2.625em */
  }
  /* ========= Footer Styles ========= */
  footer address {
    margin-left: 0.666666666666667em;
    /* BASE FONT = 12px  >>> 8px / 12px = 0.666666666666667em */
    margin-top: 1.83333333333333em;
    /* BASE FONT = 12px  >>> 22px / 12px = 1.83333333333333em */
  }
  address.footer_address strong {
    padding-bottom: 0.3125em;
    /* BASE FONT = 16px  >>> 5px / 16px = 0.3125em */
  }
  .footer_right {
    line-height: 2.16666666666667em;
    /* BASE FONT = 12px  >>> 26px / 12px = 2.16666666666667em */
    padding-right: 0;
    padding-top: 1.5em;
    /* BASE FONT = 12px  >>> 18px / 12px = 1.5em */
    &.footer_address > a {
      margin-left: 0.916666666666667em;
      /* BASE FONT = 12px  >>> 11px / 12px = 0.916666666666667em */
      margin-right: 0.833333333333333em;
      /* BASE FONT = 12px  >>> 10px / 12px = 0.833333333333333em */
    }
    a.sitemap_link {
      margin-right: 0.333333333333333em;
      /* BASE FONT = 12px  >>> 4px / 12px = 0.333333333333333em */
    }
  }
  /* ========= Thomas Info Styles ========= */
  .thomaslink {
    padding-bottom: 0.818181818181818em;
    /* BASE FONT = 11px  >>> 9px / 11px = 0.818181818181818em */
    padding-top: 1.90909090909091em;
    /* BASE FONT = 11px  >>> 21px / 11px = 1.90909090909091em */
    width: 100%;
  }
  .copyright_txt {
    display: inline-block;
    padding-right: 1.27272727272727em;
    /* BASE FONT = 11px  >>> 14px / 11px = 1.27272727272727em */
  }
  /* ========= Heading Styles ========= */
  h1 {
    margin: 0;
    padding: 0 0 0.307692307692308em 0;
    /* BASE FONT = 26px  >>> 0px 0px 8px 0px / 26px = 0em 0em 0.307692307692308em 0em */
    font-size: 1.73333333333333em;
    /* BASE FONT = 15px  >>> 26px / 15px = 1.73333333333333em */
    line-height: 1.15384615384615em;
    /* BASE FONT = 26px  >>> 30px / 26px = 1.15384615384615em */
  }
  #home_content_area h1 {
    font-size: 1.5em;
    /* BASE FONT = 16px  >>> 24px / 16px = 1.5em */
    line-height: 1.16666666666667em;
    /* BASE FONT = 24px  >>> 28px / 24px = 1.16666666666667em */
    padding: 1.29166666666667em 0.625em 0.791666666666667em 0.625em;
    /* BASE FONT = 24px  >>> 31px 15px 19px 15px / 24px = 1.29166666666667em 0.625em 0.791666666666667em 0.625em  */
    text-align: center;
  }
  #slider-1-wrapper {
    float: left;
    margin-left: 0.1875em;
    /* BASE FONT = 16px  >>> 3px / 16px = 0.1875em */
    margin-top: 2.5em;
    /* BASE FONT = 16px  >>> 40px / 16px = 2.5em */
    width: 45%;
    /* 45% of parent container */
  }
  .bucket_link_002 {
    float: right;
    margin-right: 0.3125em;
    /* BASE FONT = 16px  >>> 5px / 16px = 0.3125em  */
    margin-top: 2.5em;
    /* BASE FONT = 16px  >>> 40px / 16px = 2.5em  */
    max-width: 33em;
    /* BASE FONT = 16px  >>> 528px / 16px = 33em  */
    border: 1px solid #035a9a;
    width: 52%;
    /* 52% of parent container */
    img {
      width: 31%;
      /* 31% of parent container */
    }
  }
}

/* =============================================================================
   Desktop styles 
   Base Font = 16px >>> 960px/16px = 60em
* ============================================================================= */
@media only screen and (min-width: 60em) {
  .ie8.company_logo {
    max-width: 28.25em;
    /* BASE FONT = 16px  >>> 452px / 16px = 28.25em */
  }
  .tagline {
    width: 16%;
    /* 16% of parent container */
  }
  .inner-wrapper {
    margin: 0 auto;
    width: 60em;
    /* BASE FONT = 16px  >>> 960px / 16px = 60em */
  }
  .top_nav_links ul li {
    padding-right: 1.947916666666667%;
    /* 18.7 x 100 / 960 = 1.947916666666667% */
    padding-left: 1.927083333333333%;
    /* 18.5 x 100 / 960 = 1.927083333333333% */
  }
  .ie8 {
    .top_nav_links ul li {
      padding-right: 1.4%;
      /* 1.5% of parent container */
      padding-left: 1.4%;
      /* 1.5% of parent container */
    }
    img {
      max-width: none;
    }
  }
  .bucket_outer {
    background: url(img/home_heading_bg.jpg) repeat-x left top;
    padding-bottom: 1.375em;
    /* BASE FONT = 16px  >>> 22px / 16px = 1.375em */
  }
  .bucket_link_002 {
    width: 100%;
    img {
      max-width: 10.0769230769231em;
      /* BASE FONT = 13px  >>> 131px / 13px = 10.0769230769231em */
      width: 100%;
    }
  }
  .ie8 .bxslider img {
    width: 24.9375em;
    /* BASE FONT = 16px  >>> 399px / 16px = 24.9375em */
  }
}