.site-wrap {
  background: $white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
/*=============== Site Header ===============*/

.header_outer {
  .inner-wrap {
    padding: 0 1.5em;
  }
}

.tagline {
  display: none;
  @include mq(large) {
    display: inline-block;
  }
}

.utility_nav {
  @include mq(medium) {
    float: left;
    height: 124px;
  }
  @include mq(large) {
    float: none;
    height: auto;
  }
}

.site-header {
  background-color: $light-gray;
}

.site-utility-nav {
  overflow: hidden;
  .social-wrap {
    width: 15em;
    display: none;
  }
  @include mq(medium) {
    text-align: right;
    float: right;
    .social-wrap {
      display: inline-block;
    }
  }
}

.site-search {}

//Site Header Icons
.sh-icons {
  float: right;
  @include mq(medium) {}
}

%sh-ico {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center;
  //background-color:red;
  span {
    font-size: .75em;
  }
  @include mq(medium) {
    //float:right;
  }
}

.sh-ph {
  margin: 0;
  i {
    font-style: normal;
    //display:none;
  }
  @include mq(medium) {
    font-size: $medium-font-size;
    i {
      //display:inline;
    }
  }
}

.sh-ico-search {
  background-image: url(img/ico-search.svg);
  @extend %sh-ico;
}

.sh-ico-menu {
  background-image: url(img/ico-nav.svg);
  @extend %sh-ico;
  @include mq(medium) {
    display: none;
  }
}
/*=============== Site Content ===============*/

.site-content {}

/*
.site-content-primary {
  @include span-columns(9 of 12);
}

.site-content-secondary {
  @include span-columns(3 of 12);
}
*/

/*=============== Site Footer ===============*/

.site-footer {
  background-color: $blue;
  text-align: center;
  color: $white;
}

.sf-small {
  background-color: $medium-gray;
  text-align: center;
  .inner-wrap {
    padding-top: $baseline*2;
    padding-bottom: $baseline*2;
  }
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
  display: none;
}
/*=============== Search ===============*/

.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em;
}

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0;
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
}

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0;
  float: right;
  background: url(img/ico-search.svg) no-repeat center center !important;
}

.no-svg {
  .search-submit {
    background: url(img/ico-search.png) no-repeat center center !important;
  }
}

@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 2.3em;
  }
  .search-submit {
    height: 2.3em;
  }
}

@include mq(large) {
  .search {}
  .search-text {}
}

.search-module {
  background-color: $base-accent-color;
  height: 6em;
  margin-top: -6em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: relative;
  z-index: 10000;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
  }
  .inner-wrap {
    padding: 0.3em 1.5em 1em;
  }
}

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
  //position:absolute;
  top: 0;
  right: 0;
}
/*=============== Product Carousel ===============*/

.product-carousel {}

.product-item {
  @include mq(small) {
    @include span-columns(3 of 6);
    @include omega(2n);
  }
  @include mq(medium) {
    @include span-columns(3 of 12);
  }
}
