// Inner Wrap
/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/

.inner-wrap {
  @include outer-container;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  @include pad($baseline*3 $baseline*2 $baseline*3 $baseline*2);
  @include mq(medium) {
    @include pad($baseline*5 $baseline*3 $baseline*5 $baseline*3);
  }
}

// Media Object
.media-object {
  overflow: hidden;
}

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%;
  img {
    width: 100%;
  }
}

.media-object-body {
  width: 75%;
  float: left;
}

.media-object-header {
  margin-top: 0;
  margin-bottom: .15em;
}

.media-grid-2 {
  > * {
    margin-bottom: $baseline*2;
  }
  @include mq(medium) {
    > * {
      @include span-columns(4.5 of 9);
      @include omega(2n);
      margin-bottom: $baseline*3;
    }
  }
}


/*=============== Social Media ===============*/

.social-wrap {
  overflow: hidden;
  a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    path {
      @include transition (all .1s linear);
    }
    &:hover {
      opacity: .75;
      path {
        fill: $blue;
      }
    }
  }
  img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle;
  }
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
  }*/
}
/*=============== Slide Panel ===============*/

.slide-panel {
  display: none;
  position: fixed;
  background: $dark-gray;
  color: #fff;
  height: 100%;
  width: em(340);
  right: -em(340);
  top: 14%;
  z-index: 10;
  @include transition (right 0.4s ease-in-out);
  h2 {
    padding: .2em 1em;
  }
  p {
    background: $dark-gray;
    padding: .25px 2em;
  }
  label {
    color: $white !important;
  }
  &:hover {
    right: 0px;
  }
  @include mq(medium) {
    display: block;
  }
}

.slide-panel-button {
  position: absolute;
  top: 50px;
  right: 340px;
  padding: 20px 20px;
  background: $dark-gray;
  min-width: 200px;
}
/*=============== Slide Box ===============*/

#slidebox {
  padding: em(10) em(10) em(10) em(16);
  position: fixed;
  bottom: 0;
  right: -em(430);
  z-index: 1000;
  width: 100%;
  @include mq(medium) {
    width: auto;
  }
}

a.close {
  //background: transparent url(http://cdn2.hubspot.net/hub/53/file-527841348-gif/close.gif?t=1402397452961) no-repeat top right;
  background-color: white;
  //background-color:rgba(255,255,255,.75);
  color: $blue;
  text-align: center;
  float: left;
  padding: 0 $baseline;
  font-size: em(11);
  border-radius: em(3);
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em;
  //display:none;
}

a.close:hover {
  background-color: rgba(255, 255, 255, .75);
}
/*=============== Misc ===============*/

hr {
  display: block;
  clear: both;
}

figure {
  margin: 0;
  padding: 0;
}

.wp-pagenavi {
  > * {
    margin-right: .75em;
  }
}
